.section {
  width: 100%;
  background: #fff;
  padding: 55px 0 65px;
}

.container {
  width: min(1380px, calc(100% - 60px));
  margin: 0 auto;
}


/* =========================
   HEADING
========================= */

.heading {
  text-align: center;
  margin-bottom: 35px;
}

.heading span {
  display: block;

  color: #b51c19;

  font-size: 13px;
  font-weight: 700;

  letter-spacing: 1.5px;

  margin-bottom: 7px;
}

.heading h2 {
  margin: 0;

  color: #182b49;

  font-size: 34px;
  line-height: 1.2;

  font-weight: 700;
}

.decoration {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;

  margin-top: 11px;
}

.decoration i {
  display: block;

  width: 45px;
  height: 1px;

  background: #d3a100;
}

.decoration b {
  color: #b51c19;

  font-size: 15px;

  font-weight: 500;
}


/* =========================
   GRID
========================= */

.grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 20px;

  max-width: 1250px;

  margin: 0 auto;
}


/* =========================
   CARD
========================= */

.card {
  overflow: hidden;

  background: #fff;

  border: 1px solid #e8e8e8;

  border-radius: 6px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);

  box-shadow:
    0 10px 28px rgba(0, 0, 0, 0.14);
}


/* =========================
   IMAGE
========================= */

.imageWrap {
  position: relative;

  width: 100%;
  height: 190px;

  overflow: hidden;
}

.imageWrap img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: transform 0.5s ease;
}

.card:hover .imageWrap img {
  transform: scale(1.05);
}





/* =========================
   BODY
========================= */

.body {
  padding: 30px 18px 20px;
}

.body h3 {
  margin: 0 0 8px;

  color: #182b49;

  font-size: 20px;
  line-height: 1.25;

  font-weight: 700;
}

.body p {
  margin: 0 0 18px;

  color: #777;

  font-size: 15px;

  line-height: 1.6;

  min-height: 63px;
}




/* =========================
   TABLET
========================= */

@media (max-width: 1050px) {

  .grid {
    grid-template-columns: repeat(2, 1fr);

    max-width: 850px;
  }

}


/* =========================
   MOBILE
========================= */

@media (max-width: 600px) {

  .section {
    padding: 40px 0 50px;
  }

  .container {
    width: calc(100% - 25px);
  }

  .heading {
    margin-bottom: 27px;
  }

  .heading span {
    font-size: 12px;
  }

  .heading h2 {
    font-size: 27px;
  }

  .grid {
    grid-template-columns: 1fr;

    gap: 16px;
  }

  .imageWrap {
    height: 210px;
  }

}


/* =========================
   SMALL MOBILE
========================= */

@media (max-width: 400px) {

  .heading h2 {
    font-size: 24px;
  }

  .imageWrap {
    height: 190px;
  }

}